<a href="https://colab.research.google.com/github/TijsS/jupyterNotebook/blob/master/Copy_of_WijnOnderzoek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

Hier laden we de 'redwine.csv' dataset op uit onze github.

In [0]:
url = 'https://raw.githubusercontent.com/TijsS/jupyterNotebook/master/redwine.csv?token=AKK5ONP7MMHJQAY75N6T6OC6M6RZY'
df = pd.read_csv(url,sep=';',index_col=0,encoding='mac_roman')

Zoals hieronder te zien missen er wat kollomen zoals bijvoorbeeld 'alcohol' dit komt omdat ze niet goed zijn omgezet naar de float datatype

In [3]:
df.describe()

            points        price  ...           pH    sulphates
count  2465.000000  2196.000000  ...  2465.000000  2465.000000
mean     88.811359    24.819217  ...     3.311201     0.660353
std       2.974000    25.539475  ...     0.153927     0.172531
min      81.000000     5.000000  ...     2.740000     0.330000
25%      87.000000    12.000000  ...     3.210000     0.550000
50%      88.000000    17.000000  ...     3.310000     0.620000
75%      91.000000    28.000000  ...     3.400000     0.730000
max     100.000000   450.000000  ...     4.010000     2.000000

[8 rows x 10 columns]

Hier zetten we de datatype om naar de float waarde zodat we er mee kunnen rekenen.

In [4]:
df['alcohol'] = df['alcohol'].apply(pd.to_numeric, errors='coerce', downcast='float')
df['density'] = df['density'].apply(pd.to_numeric, errors='coerce', downcast='float')
df['citric acid'] = df['citric acid'].apply(pd.to_numeric, errors='coerce', downcast='float')
df.dtypes

country                  object
description              object
designation              object
points                    int64
price                   float64
province                 object
taster_name              object
title                    object
variety                  object
winery                   object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
dtype: object

Alle rows met een lege waarde wordt verwijdert.

In [0]:
df = df.dropna(how='any')

In [7]:
df.describe()

            points        price  ...    sulphates      alcohol
count  1880.000000  1880.000000  ...  1880.000000  1880.000000
mean     88.903191    24.789362  ...     0.667255    10.403803
std       2.936654    26.086100  ...     0.177348     1.042342
min      82.000000     5.000000  ...     0.330000     8.500000
25%      87.000000    12.000000  ...     0.560000     9.500000
50%      88.000000    17.000000  ...     0.625000    10.200000
75%      91.000000    28.000000  ...     0.740000    11.000000
max     100.000000   450.000000  ...     2.000000    14.900000

[8 rows x 13 columns]